#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.App{
  /* display: flex; */
  margin: 0 auto;
  padding-top: 10rem;
  max-width: fit-content;
  /* flex-direction: column; */
}
.input{
  outline: none;  
  /* padding: 0; */
  border: none;
  border-bottom: 2px solid #001368;
  /* font-size: medium; */
  font-size: large;
  transition: all 0.1s linear;
}
.input:focus{
  border-bottom: 2px solid rgb(0, 47, 255);
}
.inputContainer{
  align-items: flex-end;
  display: flex;
  gap: 1rem;
  /* border: 1px solid red; */
  max-width: 500px;
  padding: 1rem 0;
  
}
.btn{
  outline: none;
  border: 1px solid #001368;
  padding: 0.2rem 0.5rem;
  font-size: large;
  cursor: pointer;
  transition: all 0.1s linear;
}
.btn:hover{
  background-color: #d0d8f3;
}
